
body {
    background-color: #141D2B;
    color : white
}
 /* .right-div {
    background-color: rgba(164, 177, 205,0.4);
    width: 69rem;
    border-radius: 18px;
    margin-top: 40px;
    height: 190px;
} */
    /* .loansDiv{
        background-color: #9FEF00;
    } */
 
 .loansDiv
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
 .adminBtn
{
    background-color: rgb(76,222,76);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-width: 0;
    height:80px;
    width:200px;
    font-weight: bolder;
    
}
.loan-body{
    display: flex;
    justify-content: center;
}
.loan-content{
    margin: 30px ;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 80%;
    height: 50vh;
}


