body {
    background-color: #141D2B;
    color : white
}
.right-div {
    background-color: rgba(164, 177, 205,0);
    width: 69rem;
    border-radius: 18px;
    margin-top: 40px;
    height: 190px;
}
ul{
    list-style: none;
}
.adminBtnDiv
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.adminBtn
{
    background-color: #9FEF00;
    color: black;
    border-radius: 8px;
    border-width: 0;
    height:80px;
    width:200px;
    
}

