.body
{
    background-color: #111927;
    margin-top: 8px;
    height: 3rem;
    box-shadow: 20px 1px 15px 0px #111927;
    background-size:cover;
    height: 50px;
    position: relative;
}
.navbar-brand
{
    font-weight: bolder;
    color: white;
}
#account
{
color: #9FEF00;
}


